{% extends 'base.html'%}
{% load static %}

<html>
    <head>
        <title>{% block title %}Home- ScholarChronicle{% endblock%}</title>
    </head>
    <body>
        {% block content %}

<div class="hero-section animate__animated animate__fadeIn">
    <div class="hero-overlay">
        <div class="hero-content text-center">
            <h1 class="hero-title">Welcome to ScholarChronicle</h1>
            <p class="hero-subtitle">Your complete Student Learning Management System</p>
            <p class="hero-desc">Track courses, assignments, and grades all in one place.</p>
            <div class="d-flex gap-3 justify-content-center mt-4">
                <a href="{% url 'courses'%}" class="btn btn-getstarted">Get Started</a>
                <a href="{% url 'about'%} " class="btn btn-explore">Explore</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
    </body>
</html>